<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="messageService" class="org.service.MessageService">
        <constructor-arg ref="messageRepository"></constructor-arg>
    </bean>
    <bean id="messageRepository" class="org.repository.MessageRepository">
    </bean>

</beans>